body {
    overflow: hidden;
    margin: auto;
    font-weight: 300;
    max-width: 100%;
}

.form-check-label {
    min-width: 100%;
}



#item-photo-container {
    width: calc(30% - .5rem);
    height: 4rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-right: .5rem;
}

#item-photo {
    height: 100%;
}

header {
    margin-top: .75rem;
    position: sticky;
}

#logo {
    width: 4rem;
}

.total{
    text-align: right;
}

#list-title-input {
    box-shadow: none;
    margin-right: .5rem;
    width: 70%;
}

#title-submit-btn {
    width: calc(30% - .5rem);
}

#list-title {
    font-size: 1.2rem;
}

#list-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

#instructions {
    margin-top: .75rem;
    padding-right: 1rem;
    font-size: .75rem;
}


/* LIST ITEM
============================================================== */
.list-group-item {
    max-width: 100%;
}
#item-info {
    
    padding: 0;
    
}

#item-name, #item-cost {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#item-cost{
    text-align: right;
}

#item-store, #item-quantity {
    font-size: .8rem;
    margin-bottom: 0;
    font-weight: 300;
}

#list-section {
    height: 20rem;
    overflow: scroll;
}




/* TOTAL
============================================================== */
#total-container {
    border-top: 1px solid #000;
    background-color: #fff;
    height: 5rem;
    padding: 0 1rem;
}
#total-container h3 {
    margin-top: .5rem;
    font-size: 1rem;
}

#dollar-sign {
    padding-right: .25rem;
    position: relative;
    top: -0.8em;
    font-size: 60%;
}

#cents {
    position: relative;
    top: -0.4em;
    font-size: 60%;
}