body {
    overflow: hidden;
    margin: auto;
}

header {
    margin-top: .75rem;
    position: sticky;
}

#logo {
    width: 4rem;
}

.total{
    text-align: right;
}

#list-title-input {
    box-shadow: none;
    margin-right: .5rem;
    width: 70%;
}

#title-submit-btn {
    width: calc(30% - .5rem);
}

#list-title {
    font-size: 1.2rem;
    font-weight: 400;
}

.centered-button {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
}

/* LIST ITEM
============================================================== */
#item-info {
    
    padding: 0;
}

#item-name, #item-cost {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#item-cost{
    text-align: right;
}

#item-store, #item-quantity {
    font-size: .8rem;
    margin-bottom: 0;
    font-weight: 300;
}



/* TOTAL
============================================================== */
#total-container {
    border-top: 1px solid #000;
    background-color: #fff;
    height: 5rem; /* on mobile only */
    padding: 0 1rem;
}
#total-container h3 {
    margin-top: .5rem;
    font-size: 1.2rem;
}

#dollar-sign {
    font-weight: 300;
    padding-right: .25rem;
    position: relative;
    top: -0.8em;
    font-size: 60%;
}

#cents {
    position: relative;
    top: -0.4em;
    font-size: 60%;
}